//- extends layout
doctype html
html
  head
    base(href='/')
    title #{title}
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    //- script(src='/jquery/dist/jquery.min.js')
    //- link(rel='styleSheet', href='/bootstrap/dist/css/bootstrap.min.css')
    inck(rel='styleSheet', htef='https://fonts.googleapis.com/icon?family=Material+Icons')
    //- script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/core-js/client/shim.min.js')
    script(src='/zone.js/dist/zone.js')
    script(src='/jade/jade.js')
    script(src='/systemjs/dist/system.src.js')
    script(src='/javascripts/systemjs.config.js')
    script.
      System.import('dist').catch(function(err){ console.error(err); });
  body
    block content
      h1= title
      p Welcome to #{title}
      div #{date}
      app-root
